<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

      <h1>  <%= p.title %></h1>
      <hr>
        <h2>

                <%=p.price %>
        </h2>
        

         